@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap');


/* slider */
.content h2{
    padding:20px;
}
.slider{
    height: 100vh;
    margin-top: -2px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2{
    white-space: nowrap; /* Prevents text from wrapping */
    font-size: 100px;
    margin: 0;
}
.slider .list .item .content p,h2{
    color:white;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
    margin:5px;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    margin:5px;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    color:rgb(255, 255, 255);
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.4);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


*{ 
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header*/

.Logo {
    padding: 30px;
    text-align: center;
    margin-bottom: 35px;
    position: absolute;
    width: 11%; 
    height: auto; /* Keeps the aspect ratio */
}


.container-fluid {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 40px;
}

.Login {
    position: absolute; 
    left: 0;
    margin: 50px;
    margin-top: 30px;
}

.Search {
    position: absolute; 
    right: 0; 
    margin: 50px;
    margin-top: 60px;
}
.navbar.sticky {
    padding: 0.5rem 1rem; /* Smaller padding when sticky */
    height: 50px; 
    transition:0.3s;
}
nav {
    z-index: 500;
    padding: 2px 0;
    margin-bottom:3px;
}
.navbar{
    height: 70px;
    padding:0.1px;
    margin-top:0;
    transition:0.3s;
    transition: padding 0.3s ease, background-color 0.3s ease;
}
.nav-link {
    margin: 0 45px; 
    text-decoration: none; 
    color:white;
    font-weight: bold;
    transition: color 0.3s ease;
}
/* main*/
main {
    position: relative; 
    padding: 40px; 
    height: 500px;
    width: 100vw; /* Full viewport width */
    box-sizing: border-box; 
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(3px); 
    opacity: 1; 
    z-index: -1; /* Ensure it's behind the text */
    border-radius: 15px;
}

main h1,
main p {
    position: relative;
    z-index: 1;
    color: rgb(218, 226, 254); 
    text-align: center; /* Center the text */
}

main h1 {
    margin-top: 120px;
    margin-bottom: 30px; 
    padding: 10px;
    
}

main p {
    padding: 10px;
    border-radius: 10px;
}


header {
    background-color: #202020;
    color: white; 
    padding: 20px 0; 
    border-bottom: 1px solid white;
}

.Search {
    display: flex;
    align-items: center; 
    margin-top: 40px;
}

.Search label {
    margin: 0;
    white-space: nowrap; /* Prevent label from wrapping */
}

.Search input {
    flex: 1; /* Allow input to take up remaining space */
    margin-left: 10px;
}

.card-title-link {
    text-decoration: none;
}

.nav-link{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:rgb(107, 213, 243);
}

.card-img-top{
    transition:0.5s;
}

.card:hover .card-img-top{
    transform: translateY(-50px);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05); 
}

/* Image hover*/
.card-img-top {
    transition: transform 0.5s ease;
}

.card:hover .card-img-top {
    transform: translateY(-20px); /* Move image up */
}

/* Starring below the card*/
.starring {
    color: #808080; /* Grey color */
    font-weight: 300; /* Light font weight */
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.card:hover .starring {
    opacity: 5; /* Show text on hover */
}


.starring {
    color: #808080;
    font-weight: 300; 
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: flex; /* Use flexbox to align items */
    align-items: center; 
}

.dropdown-menu li a i {
    margin-right: 10px; /* Add space between icon and text */
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
/*Login and Reg*/
.Login{
    width: 130px;
    height:50px;
    background: transparent;
    border:2px solid #fff;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.Login:hover{
    border:2px solid #252a45;
    background:#daf6fd;
    color:#162938;
}

.wrapper {
    position: fixed;
    right: 37%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 30px rgba(3, 238, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, height 0.2s ease;
    overflow: hidden;
    transform: scale(0);
    z-index: 1000; /* Ensure it's above other content */
}

.wrapper.active-popup {
    transform: scale(1.1);
}

.wrapper .form-box {
    transition:all 0.5s ease;
    width: 100%;
    padding: 40px;
    display: none; /* Hide forms by default */
}

.wrapper .form-box.login {
    transition:all 0.5s ease;
    display: block; 
}

.wrapper .form-box.register {
    display: none; 
}

.wrapper.active-popup .form-box {
    transition:all 0.5s ease;
    display: block; /* Show the active form */
}

.wrapper.active-popup .form-box.login {
    transition:all 0.5s ease;
    display: block; /* Show login form when active */
}

.wrapper.active-popup .form-box.register {
    transition:all 0.5s ease;
    display: block; /* Show register form when active */
}


.form-box h2 {
    font-size: 1em;
    color: rgb(238, 243, 247);
    text-align: center;
    margin: 25px;
    font-weight: bold;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f9fcff;
    margin: 20px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #f9f9f9;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff9f9;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #264760;
    line-height: 57px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.remember-forgot {
    font-size: 0.9em;
    color: #eeeeee;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
    color: #eee;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-lg {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #162938;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.5s;
}

.btn-lg:hover {
    background: #4fb7cc;
}
.btn-primary{
    margin-top:12px;
}
.login-register {
    text-align: center;
    margin: 20px 0 10px;
}

.login-register p {
    font-size: 1em;
    color: #eeeeee;
}

.login-register .login-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register .login-link:hover {
    text-decoration: underline;
}

.login-register .register-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register .register-link:hover {
    text-decoration: underline;
}

.icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.icon-close:hover {
    color: #aaa;
}

.lead{
    font-size: large;
    font-weight:500;
    color:rgb(186, 25, 25);
}

.title2 {
    color:rgb(149,53,8);
}

.title3 {
    color:#4291e7;
}

.card h2 {
    padding: 10px; 
    font-size: 1.2em; 
    color: #333; 
    text-align: center; 
}

.card a{
    text-decoration: none;
}

.container a{
    text-decoration: none;
}

.new a{
    color:#162938;
}

.img-fluid{
    transition:0.5s;
}
.img-fluid:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

h2.underline {
    color:rgb(3, 21, 35);
    position: relative;
    margin:20px;
    margin-bottom:30px;
}
h2.underline::after {
    content: '';
    display: block;
    width: 20%;
    height: 4px; /* thickness of underline */
    background-color: #3482d5; 
    position: absolute;
    left: -5px;
    bottom: -15px; /* Space between text and underline */
}

footer{
    position:relative;
}


/*characters */

.wrapper2 {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-100px;
}

.wrapper2 .container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.wrapper2 .card {
    width: 80px;
    height:500px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.wrapper2 .card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.wrapper2 .card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.wrapper2 .card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.wrapper2 .description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.wrapper2 .description h4 {
    text-transform: uppercase;
    margin-top: 20px;
}

.wrapper2 input {
    display: none;
}

.wrapper2 input:checked + label {
    width: 600px;
}

.wrapper2 input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.wrapper2 .card[for="c1"] {
    background-image: url('/public/AnAnLee.jpg');
}
.wrapper2 .card[for="c2"] {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('https://www.denofgeek.com/wp-content/uploads/2022/11/batman.jpg?fit=1920%2C1080');
}
.wrapper2 .card[for="c3"] {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('https://preview.redd.it/i-love-the-batfamily-but-red-hood-is-better-off-being-the-v0-cauzcrrfe1rb1.jpg?width=640&crop=smart&auto=webp&s=590c33ed6d168824ca9f6620d8e6af332d4bf1ad');
}
.wrapper2 .card[for="c4"] {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('https://static1.cbrimages.com/wordpress/wp-content/uploads/2024/02/8-comic-storylines-that-would-make-venom-3-a-horror-movie.jpg');
}
.wrapper2 .card[for="c5"] {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('https://bleedingcool.com/wp-content/uploads/2023/12/Reverse-1999-Horrorpedia-900x900.jpg');
}

.nav-link:active, .nav-link:focus {
    color: rgb(255, 253, 253); 
}

body {
transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

body.dark {
    background-image: linear-gradient(to right,#0f0f0f, #a09999, #0f0f0f); 
    color: white;  /* Light text color */
}
body.dark h2{
    color:rgb(228, 255, 246);
}
body.dark h2.underline::after{
    background-color:#4fc0af;
}

body.dark .card {
    transition: transform 0.5s ease;
    margin-bottom: 60px;
    box-shadow: 0px 0px 30px rgba(82, 249, 255, 0.5); 
    border: 2px #b5ecf7; 
    border-radius: 10px; 
}

.card {
    margin-top:20px;
    transition: transform 0.5s ease;
    margin-bottom: 60px;
    border-radius: 10px; 
}
@media (max-width: 900px) {
    .slider {
        height: 600px; 
    }
    .item h2 {
        font-size:4rem !important;
        margin-left:35px !important;
    }
    .item p{
        display:none;
    }
    .thumbnail .item {
        flex:100%;
    }
    .card {
        width: 18rem; 
    }
    .item p {
        font-size: 0.9rem; 
    }
    .Logo{
        width:20%;
        position:absolute;
        margin-right:40px;
    }
    .content {
        font-size: 0.8rem; 
        padding: 10px; 
    }
    .thumbnail img {
        width: 30px; 
    }
    .arrows {
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        width: 780px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .arrows button{
        font-family: monospace;
        width: 20px;
        height: 70px;
        font-size: x-large;
        color: #ffffff;
        transition: .5s;
    }
    h2.underline{
        margin-bottom: 40px;
    }
    h2.underline::after{
        width: 40%;
    }
    .description {
        justify-content: center;
        text-align: center;
        padding-left: 110px;
        font-size: 13px;
    }
    .wrap .icon{
        justify-content: center;
        text-align: center;
        padding-left: 100px;
    }
}
